In [2]:
import numpy as np
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/amiism/DSA4263/main/data/UsersData/combined_users_full.csv'
df1 = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11017 entries, 0 to 11016
Data columns (total 43 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  11017 non-null  int64
 1   name                                11016 non-null  object
 2   screen_name                         11017 non-null  object
 3   statuses_count                      11017 non-null  int64
 4   followers_count                     11017 non-null  int64
 5   friends_count                       11017 non-null  int64
 6   favourites_count                    11017 non-null  int64
 7   listed_count                        11017 non-null  int64
 8   url                                 3508 non-null   object
 9   lang                                10017 non-null  object
 10  time_zone                           5015 non-null   object
 11  location                            4908 non-null   object
 12  default_profile                     1477 non-null   float64
 13  default_profile_image               72 non-null     float64
 14  geo_enabled                         3294 non-null   float64
 15  profile_image_url                   11017 non-null  object
 16  profile_banner_url                  4819 non-null   object
 17  profile_use_background_image        9503 non-null   float64
 18  profile_background_image_url_https  10017 non-null  object
 19  profile_text_color                  10017 non-null  object
 20  profile_image_url_https             10017 non-null  object
 21  profile_sidebar_border_color        10017 non-null  object
 22  profile_background_tile             5331 non-null   float64
 23  profile_sidebar_fill_color          10017 non-null  object
 24  profile_background_image_url        11017 non-null  object
 25  profile_background_color            10017 non-null  object
 26  profile_link_color                  10017 non-null  object
 27  utc_offset                          5015 non-null   float64
 28  is_translator                       1 non-null      float64
 29  follow_request_sent                 0 non-null      float64
 30  protected                           78 non-null     float64
 31  verified                            11 non-null     float64
 32  notifications                       0 non-null      float64
 33  description                         6346 non-null   object
 34  contributors_enabled                0 non-null      float64
 35  following                           0 non-null      float64
 36  created_at                          11017 non-null  object
 37  timestamp                           11017 non-null  object
 38  crawled_at                          11017 non-null  object
 39  updated                             11017 non-null  object
 40  test_set_1                          4465 non-null   float64
 41  test_set_2                          3938 non-null   float64
 42  Type                                11017 non-null  object
dtypes: float64(15), int64(6), object(22)
memory usage: 3.6+ MB

In [5]:
#Grouping the data based on Type
# Grouping the data based on the 'Type' column
grouped_data = df1.groupby('Type')

# Getting information based on each group
for group_name, group_df in grouped_data:
    print(f"Type: {group_name}")
    print(group_df.info())

Type: Bot
<class 'pandas.core.frame.DataFrame'>
Index: 7543 entries, 0 to 11016
Data columns (total 43 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  7543 non-null   int64
 1   name                                7543 non-null   object
 2   screen_name                         7543 non-null   object
 3   statuses_count                      7543 non-null   int64
 4   followers_count                     7543 non-null   int64
 5   friends_count                       7543 non-null   int64
 6   favourites_count                    7543 non-null   int64
 7   listed_count                        7543 non-null   int64
 8   url                                 2242 non-null   object
 9   lang                                6543 non-null   object
 10  time_zone                           2540 non-null   object
 11  location                            2543 non-null   object
 12  default_profile                     445 non-null    float64
 13  default_profile_image               59 non-null     float64
 14  geo_enabled                         1139 non-null   float64
 15  profile_image_url                   7543 non-null   object
 16  profile_banner_url                  1654 non-null   object
 17  profile_use_background_image        6419 non-null   float64
 18  profile_background_image_url_https  6543 non-null   object
 19  profile_text_color                  6543 non-null   object
 20  profile_image_url_https             6543 non-null   object
 21  profile_sidebar_border_color        6543 non-null   object
 22  profile_background_tile             4024 non-null   float64
 23  profile_sidebar_fill_color          6543 non-null   object
 24  profile_background_image_url        7543 non-null   object
 25  profile_background_color            6543 non-null   object
 26  profile_link_color                  6543 non-null   object
 27  utc_offset                          2540 non-null   float64
 28  is_translator                       0 non-null      float64
 29  follow_request_sent                 0 non-null      float64
 30  protected                           0 non-null      float64
 31  verified                            0 non-null      float64
 32  notifications                       0 non-null      float64
 33  description                         3251 non-null   object
 34  contributors_enabled                0 non-null      float64
 35  following                           0 non-null      float64
 36  created_at                          7543 non-null   object
 37  timestamp                           7543 non-null   object
 38  crawled_at                          7543 non-null   object
 39  updated                             7543 non-null   object
 40  test_set_1                          991 non-null    float64
 41  test_set_2                          464 non-null    float64
 42  Type                                7543 non-null   object
dtypes: float64(15), int64(6), object(22)
memory usage: 2.5+ MB
None
Type: Genuine
<class 'pandas.core.frame.DataFrame'>
Index: 3474 entries, 6 to 11015
Data columns (total 43 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  3474 non-null   int64
 1   name                                3473 non-null   object
 2   screen_name                         3474 non-null   object
 3   statuses_count                      3474 non-null   int64
 4   followers_count                     3474 non-null   int64
 5   friends_count                       3474 non-null   int64
 6   favourites_count                    3474 non-null   int64
 7   listed_count                        3474 non-null   int64
 8   url                                 1266 non-null   object
 9   lang                                3474 non-null   object
 10  time_zone                           2475 non-null   object
 11  location                            2365 non-null   object
 12  default_profile                     1032 non-null   float64
 13  default_profile_image               13 non-null     float64
 14  geo_enabled                         2155 non-null   float64
 15  profile_image_url                   3474 non-null   object
 16  profile_banner_url                  3165 non-null   object
 17  profile_use_background_image        3084 non-null   float64
 18  profile_background_image_url_https  3474 non-null   object
 19  profile_text_color                  3474 non-null   object
 20  profile_image_url_https             3474 non-null   object
 21  profile_sidebar_border_color        3474 non-null   object
 22  profile_background_tile             1307 non-null   float64
 23  profile_sidebar_fill_color          3474 non-null   object
 24  profile_background_image_url        3474 non-null   object
 25  profile_background_color            3474 non-null   object
 26  profile_link_color                  3474 non-null   object
 27  utc_offset                          2475 non-null   float64
 28  is_translator                       1 non-null      float64
 29  follow_request_sent                 0 non-null      float64
 30  protected                           78 non-null     float64
 31  verified                            11 non-null     float64
 32  notifications                       0 non-null      float64
 33  description                         3095 non-null   object
 34  contributors_enabled                0 non-null      float64
 35  following                           0 non-null      float64
 36  created_at                          3474 non-null   object
 37  timestamp                           3474 non-null   object
 38  crawled_at                          3474 non-null   object
 39  updated                             3474 non-null   object
 40  test_set_1                          3474 non-null   float64
 41  test_set_2                          3474 non-null   float64
 42  Type                                3474 non-null   object
dtypes: float64(15), int64(6), object(22)
memory usage: 1.2+ MB
None

In [6]:
# Drop columns with zero non-null elements
df2 = df1.dropna(axis=1, how='all')

# Display the cleaned DataFrame
#print(df2)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11017 entries, 0 to 11016
Data columns (total 39 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  11017 non-null  int64
 1   name                                11016 non-null  object
 2   screen_name                         11017 non-null  object
 3   statuses_count                      11017 non-null  int64
 4   followers_count                     11017 non-null  int64
 5   friends_count                       11017 non-null  int64
 6   favourites_count                    11017 non-null  int64
 7   listed_count                        11017 non-null  int64
 8   url                                 3508 non-null   object
 9   lang                                10017 non-null  object
 10  time_zone                           5015 non-null   object
 11  location                            4908 non-null   object
 12  default_profile                     1477 non-null   float64
 13  default_profile_image               72 non-null     float64
 14  geo_enabled                         3294 non-null   float64
 15  profile_image_url                   11017 non-null  object
 16  profile_banner_url                  4819 non-null   object
 17  profile_use_background_image        9503 non-null   float64
 18  profile_background_image_url_https  10017 non-null  object
 19  profile_text_color                  10017 non-null  object
 20  profile_image_url_https             10017 non-null  object
 21  profile_sidebar_border_color        10017 non-null  object
 22  profile_background_tile             5331 non-null   float64
 23  profile_sidebar_fill_color          10017 non-null  object
 24  profile_background_image_url        11017 non-null  object
 25  profile_background_color            10017 non-null  object
 26  profile_link_color                  10017 non-null  object
 27  utc_offset                          5015 non-null   float64
 28  is_translator                       1 non-null      float64
 29  protected                           78 non-null     float64
 30  verified                            11 non-null     float64
 31  description                         6346 non-null   object
 32  created_at                          11017 non-null  object
 33  timestamp                           11017 non-null  object
 34  crawled_at                          11017 non-null  object
 35  updated                             11017 non-null  object
 36  test_set_1                          4465 non-null   float64
 37  test_set_2                          3938 non-null   float64
 38  Type                                11017 non-null  object
dtypes: float64(11), int64(6), object(22)
memory usage: 3.3+ MB

In [7]:
# I want to check which columns have more than 50% of the rows missing and have a similar split between na and non na rows between the two Types
# Calculate the percentage of missing values in each column
missing_percentage = df2.isnull().mean() * 100

# Filter columns with more than 50% missing values
columns_with_high_missing = missing_percentage[missing_percentage > 50].index.tolist()

# Filter columns with similar split of na and non-na values between the two types. Threshold is 40-60 split
similar_split_columns = []
for column in columns_with_high_missing:
    null_proportions = df2.groupby('Type')[column].apply(lambda x: x.isnull().mean())
    null_proportions_diff = abs(null_proportions.diff().iloc[-1])
    if null_proportions_diff <= 0.2:  # Check if the absolute difference is within the range (40-60 split)
        similar_split_columns.append(column)

# Display the list of columns
print("Columns with more than 50% missing values and similar split between types:")
print(similar_split_columns)

Columns with more than 50% missing values and similar split between types:
['url', 'default_profile_image', 'profile_background_tile', 'is_translator', 'protected', 'verified']

In [8]:
# Create df3 by dropping columns with more than 50% missing values and similar split between types
df3 = df2.drop(columns=similar_split_columns)

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11017 entries, 0 to 11016
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  11017 non-null  int64
 1   name                                11016 non-null  object
 2   screen_name                         11017 non-null  object
 3   statuses_count                      11017 non-null  int64
 4   followers_count                     11017 non-null  int64
 5   friends_count                       11017 non-null  int64
 6   favourites_count                    11017 non-null  int64
 7   listed_count                        11017 non-null  int64
 8   lang                                10017 non-null  object
 9   time_zone                           5015 non-null   object
 10  location                            4908 non-null   object
 11  default_profile                     1477 non-null   float64
 12  geo_enabled                         3294 non-null   float64
 13  profile_image_url                   11017 non-null  object
 14  profile_banner_url                  4819 non-null   object
 15  profile_use_background_image        9503 non-null   float64
 16  profile_background_image_url_https  10017 non-null  object
 17  profile_text_color                  10017 non-null  object
 18  profile_image_url_https             10017 non-null  object
 19  profile_sidebar_border_color        10017 non-null  object
 20  profile_sidebar_fill_color          10017 non-null  object
 21  profile_background_image_url        11017 non-null  object
 22  profile_background_color            10017 non-null  object
 23  profile_link_color                  10017 non-null  object
 24  utc_offset                          5015 non-null   float64
 25  description                         6346 non-null   object
 26  created_at                          11017 non-null  object
 27  timestamp                           11017 non-null  object
 28  crawled_at                          11017 non-null  object
 29  updated                             11017 non-null  object
 30  test_set_1                          4465 non-null   float64
 31  test_set_2                          3938 non-null   float64
 32  Type                                11017 non-null  object
dtypes: float64(6), int64(6), object(21)
memory usage: 2.8+ MB

In [10]:
df3.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,lang,time_zone,...,profile_link_color,utc_offset,description,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2,Type
0,531256710,Christel Martillo,Martillodig,12515,787,1947,1,0,en,NaN,...,0084B4,NaN,Lover of life - need I say more!,Tue Mar 20 12:07:58 +0000 2012,2012-03-20 13:07:58,2014-05-05 23:23:09,2016-03-15 15:39:59,NaN,1.0,Bot
1,72081097,TMJ-ON CstSrv Jobs,tmj_on_cstsrv,117,300,247,0,30,en,Eastern Time (US & Canada),...,4A913C,-14400.0,Follow this account for geo-targeted Customer ...,Sun Sep 06 17:29:17 +0000 2009,2009-09-06 19:29:17,2016-03-15 13:49:10,2016-03-15 13:49:10,NaN,NaN,Bot
2,327060670,Federico Floria,Airolf,25930,10854,10606,418,66,it,NaN,...,0084B4,NaN,"Mika e' la mia vita, Supernatural la mia passi...",Thu Jun 30 22:59:43 +0000 2011,2011-07-01 00:59:43,2014-04-27 23:20:27,2016-03-15 14:13:49,1.0,NaN,Bot
3,2398910547,Southern Fields,southern_fields,730,1132,914,557,1,en,NaN,...,0084B4,NaN,"Just a plain ol' country boy. I love God, Geor...",Mon Mar 10 07:48:09 +0000 2014,2014-03-10 08:48:09,2014-05-02 23:22:50,2016-03-15 14:16:12,1.0,NaN,Bot
4,69218476,Vanessa,Vanessa8w3v,1,153,568,0,0,NaN,NaN,...,NaN,NaN,NaN,1251353539000L,2009-08-27 08:12:19,2010-11-07 11:10:52,2016-03-14 17:08:43,NaN,NaN,Bot

In [11]:
# Set display options to show full width of columns
pd.set_option('display.max_colwidth', None)

# Display the head of each column
for column in df3.columns:
    print(df3[column].head())

0     531256710
1      72081097
2     327060670
3    2398910547
4      69218476
Name: id, dtype: int64
0     Christel Martillo
1    TMJ-ON CstSrv Jobs
2       Federico Floria
3       Southern Fields
4               Vanessa
Name: name, dtype: object
0        Martillodig
1      tmj_on_cstsrv
2             Airolf
3    southern_fields
4        Vanessa8w3v
Name: screen_name, dtype: object
0    12515
1      117
2    25930
3      730
4        1
Name: statuses_count, dtype: int64
0      787
1      300
2    10854
3     1132
4      153
Name: followers_count, dtype: int64
0     1947
1      247
2    10606
3      914
4      568
Name: friends_count, dtype: int64
0      1
1      0
2    418
3    557
4      0
Name: favourites_count, dtype: int64
0     0
1    30
2    66
3     1
4     0
Name: listed_count, dtype: int64
0     en
1     en
2     it
3     en
4    NaN
Name: lang, dtype: object
0                           NaN
1    Eastern Time (US & Canada)
2                           NaN
3                           NaN
4                           NaN
Name: time_zone, dtype: object
0              NaN
1          Ontario
2    abruzzo-italy
3              NaN
4              NaN
Name: location, dtype: object
0    1.0
1    NaN
2    1.0
3    1.0
4    NaN
Name: default_profile, dtype: float64
0    NaN
1    1.0
2    NaN
3    1.0
4    NaN
Name: geo_enabled, dtype: float64
0    http://pbs.twimg.com/profile_images/1914085740/18123159591195463_meghan_laughing_normal.jpg
1                     http://pbs.twimg.com/profile_images/672124895401119744/ZfF1YSl0_normal.jpg
2                                http://pbs.twimg.com/profile_images/1551715202/image_normal.jpg
3                    http://pbs.twimg.com/profile_images/442933801527033856/BEHqJpSM_normal.jpeg
4                            http://a2.twimg.com/profile_images/384220938/zzz3__1002__normal.jpg
Name: profile_image_url, dtype: object
0                                                            NaN
1      https://pbs.twimg.com/profile_banners/72081097/1449082039
2     https://pbs.twimg.com/profile_banners/327060670/1350050555
3    https://pbs.twimg.com/profile_banners/2398910547/1394545467
4                                                            NaN
Name: profile_banner_url, dtype: object
0    1.0
1    1.0
2    1.0
3    1.0
4    NaN
Name: profile_use_background_image, dtype: float64
0                                      https://abs.twimg.com/images/themes/theme1/bg.png
1    https://pbs.twimg.com/profile_background_images/315420727/Twitter-BG_2_bg-image.jpg
2                                      https://abs.twimg.com/images/themes/theme1/bg.png
3                                      https://abs.twimg.com/images/themes/theme1/bg.png
4                                                                                    NaN
Name: profile_background_image_url_https, dtype: object
0    333333
1         0
2    333333
3    333333
4       NaN
Name: profile_text_color, dtype: object
0    https://pbs.twimg.com/profile_images/1914085740/18123159591195463_meghan_laughing_normal.jpg
1                     https://pbs.twimg.com/profile_images/672124895401119744/ZfF1YSl0_normal.jpg
2                                https://pbs.twimg.com/profile_images/1551715202/image_normal.jpg
3                    https://pbs.twimg.com/profile_images/442933801527033856/BEHqJpSM_normal.jpeg
4                                                                                             NaN
Name: profile_image_url_https, dtype: object
0    C0DEED
1    000000
2    C0DEED
3    C0DEED
4       NaN
Name: profile_sidebar_border_color, dtype: object
0    DDEEF6
1    407DB0
2    DDEEF6
3    DDEEF6
4       NaN
Name: profile_sidebar_fill_color, dtype: object
0                                      http://abs.twimg.com/images/themes/theme1/bg.png
1    http://pbs.twimg.com/profile_background_images/315420727/Twitter-BG_2_bg-image.jpg
2                                      http://abs.twimg.com/images/themes/theme1/bg.png
3                                      http://abs.twimg.com/images/themes/theme1/bg.png
4                           http://s.twimg.com/a/1288470193/images/themes/theme1/bg.png
Name: profile_background_image_url, dtype: object
0    C0DEED
1    253956
2    C0DEED
3    C0DEED
4       NaN
Name: profile_background_color, dtype: object
0    0084B4
1    4A913C
2    0084B4
3    0084B4
4       NaN
Name: profile_link_color, dtype: object
0        NaN
1   -14400.0
2        NaN
3        NaN
4        NaN
Name: utc_offset, dtype: float64
0                                                                                                          Lover of life - need I say more!
1                           Follow this account for geo-targeted Customer Service job tweets in Ontario. Need help? Tweet us at @CareerArc!
2    Mika e' la mia vita, Supernatural la mia passione, il giardinaggio l'antistress. Fringe, Vampires, rock, tecnologia.....follow back...
3                                         Just a plain ol' country boy. I love God, George Strait, Garth Brooks, country music and America.
4                                                                                                                                       NaN
Name: description, dtype: object
0    Tue Mar 20 12:07:58 +0000 2012
1    Sun Sep 06 17:29:17 +0000 2009
2    Thu Jun 30 22:59:43 +0000 2011
3    Mon Mar 10 07:48:09 +0000 2014
4                    1251353539000L
Name: created_at, dtype: object
0    2012-03-20 13:07:58
1    2009-09-06 19:29:17
2    2011-07-01 00:59:43
3    2014-03-10 08:48:09
4    2009-08-27 08:12:19
Name: timestamp, dtype: object
0    2014-05-05 23:23:09
1    2016-03-15 13:49:10
2    2014-04-27 23:20:27
3    2014-05-02 23:22:50
4    2010-11-07 11:10:52
Name: crawled_at, dtype: object
0    2016-03-15 15:39:59
1    2016-03-15 13:49:10
2    2016-03-15 14:13:49
3    2016-03-15 14:16:12
4    2016-03-14 17:08:43
Name: updated, dtype: object
0    NaN
1    NaN
2    1.0
3    1.0
4    NaN
Name: test_set_1, dtype: float64
0    1.0
1    NaN
2    NaN
3    NaN
4    NaN
Name: test_set_2, dtype: float64
0    Bot
1    Bot
2    Bot
3    Bot
4    Bot
Name: Type, dtype: object

In [ ]:
#I want to check if the URLs are valid
import requests

# urls_columns contains the columns with URLs
urls_columns = ['profile_background_image_url', 'profile_image_url_https', 'profile_background_image_url_https', 'profile_banner_url', 'profile_image_url']

# Function to check if URL is valid
def is_valid_url(url):
    try:
        response = requests.get(url)
        return response.status_code == 200
    except:
        return False

# Count invalid URLs for each column
invalid_counts = {}
for column in urls_columns:
    invalid_count = sum(~df3[column].fillna('').apply(is_valid_url))
    invalid_counts[column] = invalid_count

# Display the counts
for column, count in invalid_counts.items():
    print(f"Number of invalid URLs in '{column}': {count}")